---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - servicemonitor.yml
  - service.yml
  - deployment.yml

configMapGenerator:
  - name: scw-exporter
    literals: []

secretGenerator:
  - name: scw-exporter
    literals: []

images:
  - name: scw-exporter
    newName: quay.io/promhippie/scw-exporter
    newTag: latest@sha256:9a2e948b19968fd881d68c62ea17a069d402a8fba1624ab5a738181accf8e44f

...
