---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - servicemonitor.yml
  - service.yml
  - deployment.yml

configMapGenerator:
  - name: scw-exporter
    literals: []

secretGenerator:
  - name: scw-exporter
    literals: []

images:
  - name: scw-exporter
    newName: quay.io/promhippie/scw-exporter
    newTag: latest@sha256:82ff3037e7a8db94d851136e98331ad15e4f566f83bb97643bec37c29130c800

...
